## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
x=15;
print(x)

15

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
print(type(8.5))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
type(x)

int

4) Crear una variable que contenga tu nombre

In [6]:
name='Hugo';
print(name)

Hugo

5) Crear una variable que contenga un número complejo

In [8]:
y=5+3j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [9]:
type(y)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [10]:
pi=3.1415

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [12]:
t='True'
tt= bool(True)
print(type(t))
print(type(tt))
#No son iguales puesto que el segundo es de tipo booleano

<class 'str'>
<class 'bool'>

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [13]:
print(type(t), type(tt))

<class 'str'> <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [14]:
n_suma=3+0.14159265

11) Realizar una operación de suma de números complejos

In [15]:
complejo1=5+3j
complejo2=3+5j
complejo1+complejo2

(8+8j)

12) Realizar una operación de suma de un número real y otro complejo

In [16]:
real=8
real+complejo1

(13+3j)

13) Realizar una operación de multiplicación

In [17]:
5*8

40

14) Mostrar el resultado de elevar 2 a la octava potencia

In [18]:
2**8

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [19]:
division=27/4
print(division)

6.75

16) De la división anterior solamente mostrar la parte entera

In [20]:
27//4

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [22]:
print(27%4)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [26]:
print(4*6+3)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [27]:
print('Hola '+'Henry'+' mundo')

Hola Henry mundo

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [28]:
print("2"==2) #Ocurre esto porque uno es una variable string y el otro es un entero

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [32]:
print(int("2")==2)
print(type(int("2")))

True
<class 'int'>

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [37]:
a=float(3,8)
#No se puede hacer ya que los decimales en python están representados por el punto

TypeError: float expected at most 1 argument, got 2

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [38]:
v3=3
v3-=1
print(v3)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [40]:
1<<4

16

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [48]:
#a=2+'2' No se puede porque son de diferente tipo de datos
b=2+int('2') #Resultado numérico tipo int
c=str(2)+'2' #Resultado string
#print(a)
print(b)
print(c)

4
22

26) Realizar una operación válida entre valores de tipo entero y string

In [49]:
'ji'*5

'jijijijiji'